/* MIT LICENSE */
/* Author: Bryan Lim */
/* Website: http://ytbryan.com */
/* Get your latest copy of blinking-pointer.css
at http://github.com/ytbryan/blinking-pointer.css*/

.circle-pointer {
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
}

/*green circle*/
.inner-circle-pointer.green-circle{
    background-color: #93d04c;
    border-color: #93d04c;
    box-shadow: 0 0 0 0 rgba(147, 208, 76, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*red circle*/
.inner-circle-pointer.red-circle{
    background-color: #FA254C;
    border-color: #FA254C;
    box-shadow: 0 0 0 0 rgba(250, 37, 76, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*orange circle*/
.inner-circle-pointer.orange-circle{
    background-color: #FA9D1B;
    border-color: #FA9D1B;
    box-shadow: 0 0 0 0 rgba(250, 157, 27, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*yellow circle*/
.inner-circle-pointer.yellow-circle{
    background-color: #FAF21B;
    border-color: #FAF21B;
    box-shadow: 0 0 0 0 rgba(250, 242, 27, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}


/*purple circle*/
.inner-circle-pointer.purple-circle{
    background-color: #B020F7;
    border-color: #B020F7;
    box-shadow: 0 0 0 0 rgba(176, 32, 247, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*pink circle*/
.inner-circle-pointer.pink-circle{
    background-color: #F720F0;
    border-color: #F720F0;
    box-shadow: 0 0 0 0 rgba(247, 32, 240, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*white circle*/
.inner-circle-pointer.white-circle{
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*black circle*/
.inner-circle-pointer.white-circle{
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}



/*pink circle*/
.inner-circle-pointer.pink-circle{
    background-color: #F720F0;
    border-color: #F720F0;
    box-shadow: 0 0 0 0 rgba(247, 32, 240, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.inner-circle-pointer {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -webkit-animation: green-pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: green-pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: green-pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

/*green animation*/
@-webkit-keyframes pulsing {
    to {
        box-shadow: 0 0 0 15px rgba(147, 208, 76, 0);
    }
}
@keyframes pulsing {
    to {
        box-shadow: 0 0 0 15px rgba(147, 208, 76, 0);
    }
}
@-ms-keyframes pulsing {
    to {
        box-shadow: 0 0 0 15px rgba(147, 208, 76, 0);
    }
}


@-webkit-keyframes glowing {
  0% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}

@-moz-keyframes glowing {
  0% { background-color: #FB9D96; -moz-box-shadow: 0 0 10px #FB9D96; }
  100% { background-color: #FF655A; -moz-box-shadow: 0 0 3px #FF655A; }
}

@-o-keyframes glowing {
  0% { background-color: #FB9D96; box-shadow: 0 0 10px #FB9D96; }
  100% { background-color: #FF655A; box-shadow: 0 0 3px #FF655A; }
}

@keyframes glowing {
  0% { background-color: #FB9D96; box-shadow: 0 0 10px #FB9D96; }
  100% { background-color: #FF655A; box-shadow: 0 0 3px #FF655A; }
}


.flash {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: -.55em;
  margin-left: -.55em;
  background-color: #FF655A;
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}
