---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="each-post">
        <span class="post-meta">{{# post.date | date: "%b %-d, %Y" }}</span>

          <span class="front_title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            {% for category in post.categories %}
              <code class="tag">
                {{ category }}
              </code>
            {% endfor %}

          </span>



        </span>
      </li>

    {% endfor %}
  </ul>

</div>
