<div class="redcontainer">
  <h1>Regression</h1>

  <ol>

    <li>
      <a href="http://itl.nist.gov/div898/handbook/eda/section3/eda366.htm
      ">Different type of distribution</a>
    </li>

    <li>
      <a href="http://www.datasciencecentral.com/profiles/blogs/10-types-of-regressions-which-one-to-use">
      Types of regressions
      </a>
    </li>

  </ol>
</div>



<div class="redcontainer">
  <h1>Testing on Rails</h1>

  <ol>
    <li>
      <a href="https://rubygems.org/gems/optimizely-sdk/versions/1.0.0">
      Using Optimizely
      </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Codes</h1>

  <ol>
    <li>
      <a href=""></a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>  Reclaim your time</h1>

  <ol>
    <li>
      <a href="http://www.bumblebeesystems.com/wastenotime/">Wastenotime</a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>  Getting Started with making software using ruby</h1>

  <ol>
    <li>
      <a href="http://github.com">github</a>
    </li>

    <li>
      <a href="http://stackoverflow.com">stackoverflow</a>
    </li>


    <li>
      <a href="http://heroku.com">heroku</a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Useful Ruby Resources</h1>

  <ol>
    <li>
      <a href="http://blog.honeybadger.io/a-rubyist-s-guide-to-big-o-notation/?utm_source=rubyweekly&utm_medium=email">Understanding O Notation with simple explanation</a>
    </li>

    <li>
      <a href="http://blog.swirrl.com/articles/creating-asynchronous-embeddable-javascript-widgets/">Creating embedable javascript</a>
    </li>


    <li>
      <a href="https://colorlib.com/wp/free-html5-admin-dashboard-templates/">Reusable dashboards</a>
    </li>

  </ol>
</div>
