<div class="redcontainer">
  {% markdown links/right/electrons.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/golang.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/javascript_resources.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/payment.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/private_repo.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/rails_api.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/rails.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/recent.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/swift.md %}
</div>

<div class="redcontainer">
  {% markdown links/right/writing.md %}
</div>
