
<div class="redcontainer">
  <h1>Rails</h1>

  <ol>
    <li><a href="https://launchschool.com/blog/understanding-polymorphic-associations-in-rails">
      Understanding Polymorphism
    </a>
    </li>
  </ol>
</div>


<div class="redcontainer">
  <h1>Golang Resources</h1>

  <ol>
    <li><a href="https://github.com/Masterminds/glide">
      Glide, the package manager
    </a>
    </li>

    <li><a href="http://www.giantflyingsaucer.com/blog/?p=5635">
      Tutorial gorilla rest api
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Payment Resources</h1>

  <ol>
    <li><a href="https://paypal.me/tadapay/500">
      Pay me $500 for transport fee
    </a>
    </li>

    <li><a href="https://paypal.me/tadapay/100">
      Pay me $100 for simple advice
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Swift Resources</h1>
  <ol>
    <li><a href="https://github.com/ibm-swift/kitura">
      swift server by IBM
    </a>
    </li>
  </ol>
</div>


<div class="redcontainer">
  <h1>Electrons Resources</h1>

  <ol>
    <li><a href="http://photonkit.com">
      Photon is a electron UI components
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Javascript Resources</h1>

  <ol>
    <li><a href="https://github.com/bevacqua/dragula">
      Drag and drop made easy
    </a>
    </li>

  </ol>
</div>



<div class="redcontainer">
  <h1>Recent</h1>

  <ol>
    <li><a href="http://innovatorstoolkit.com/content/technique-1-jobs-be-done">
      Job to be done
    </a>
    </li>

    <li>
      <a href="https://twitter.com/ytbryan/status/440884044146814977">
        Important Metric Board
      </a>
    </li>

    <li>
      <a href="https://www.flinto.com">
        Prototyping using flinto
      </a>
    </li>

    <li>
      <a href="https://www.invisionapp.com">
        Prototyping using invision
      </a>
    </li>

    <li>
      <a href="https://builtwith.com">
        Check out technologies using builtwith.com
      </a>
    </li>

    <li>
      <a href="http://blog.crisp.se/2016/01/25/henrikkniberg/making-sense-of-mvp">
        Creating lovable, Usable, Testable products
      </a>
    </li>

    <li>
      <a href="https://blog.fastmonkeys.com/2014/06/18/minimum-viable-product-your-ultimate-guide-to-mvp-great-examples/">
        Minimal Viable Product
      </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Private Repo</h1>

  <ol>
    <li>
      <a href="https://manage.fury.io/dashboard/ytbryan/#_ga=1.68700178.268423103.1480409719">
      Gemfury
      </a>
    </li>

    <li>
      <a href="https://travis-ci.org/profile/ytbryan">
      Travis
      </a>
    </li>

  </ol>
</div>
