
<div class="redcontainer">
  <h1>Rails</h1>

  <ol>
    <li><a href="https://launchschool.com/blog/understanding-polymorphic-associations-in-rails">
      Understanding Polymorphism
    </a>
    </li>
  </ol>
</div>


<div class="redcontainer">
  <h1>Golang Resources</h1>

  <ol>
    <li><a href="https://github.com/Masterminds/glide">
      Glide, the package manager
    </a>
    </li>

    <li><a href="http://www.giantflyingsaucer.com/blog/?p=5635">
      Tutorial gorilla rest api
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Payment Resources</h1>

  <ol>
    <li><a href="https://paypal.me/tadapay/500">
      Pay me $500 for transport fee
    </a>
    </li>

    <li><a href="https://paypal.me/tadapay/100">
      Pay me $100 for simple advice
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Swift Resources</h1>
  <ol>
    <li><a href="https://github.com/ibm-swift/kitura">
      swift server by IBM
    </a>
    </li>
  </ol>
</div>


<div class="redcontainer">
  <h1>Electrons Resources</h1>

  <ol>
    <li><a href="http://photonkit.com">
      Photon is a electron UI components
    </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Javascript Resources</h1>

  <ol>
    <li><a href="https://github.com/bevacqua/dragula">
      Drag and drop made easy
    </a>
    </li>

  </ol>
</div>



<div class="redcontainer">
  <h1>Recent</h1>

  <ol>
    <li><a href="http://innovatorstoolkit.com/content/technique-1-jobs-be-done">
      Job to be done
    </a>
    </li>

    <li>
      <a href="https://twitter.com/ytbryan/status/440884044146814977">
        Important Metric Board
      </a>
    </li>

    <li>
      <a href="https://www.flinto.com">
        Prototyping using flinto
      </a>
    </li>

    <li>
      <a href="https://www.invisionapp.com">
        Prototyping using invision
      </a>
    </li>

    <li>
      <a href="https://builtwith.com">
        Check out technologies using builtwith.com
      </a>
    </li>

    <li>
      <a href="http://blog.crisp.se/2016/01/25/henrikkniberg/making-sense-of-mvp">
        Creating lovable, Usable, Testable products
      </a>
    </li>

    <li>
      <a href="https://blog.fastmonkeys.com/2014/06/18/minimum-viable-product-your-ultimate-guide-to-mvp-great-examples/">
        Minimal Viable Product
      </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Private Repo</h1>

  <ol>
    <li>
      <a href="https://manage.fury.io/dashboard/ytbryan/#_ga=1.68700178.268423103.1480409719">
      Gemfury
      </a>
    </li>

    <li>
      <a href="https://travis-ci.org/profile/ytbryan">
      Travis
      </a>
    </li>

  </ol>
</div>

<div class="redcontainer">
  <h1>Writing</h1>

  <ol>
    <li>
      <a href="http://www.hu.mtu.edu/~cwaddell/Basic_Prose_Style.html">
      Basic Prose Style
      </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Rails Api</h1>

  <ol>
    <li>
      <a href="http://zacstewart.com/2015/05/14/using-json-web-tokens-to-authenticate-javascript-front-ends-on-rails.html">
      JWT with a front-end rails
      </a>
    </li>

    <li>
      <a href="https://github.com/elabs/pundit">
      Pundit
      </a>
    </li>

    <li>
      <a href="http://fredguest.com/2015/03/06/building-a-stateless-rails-api-with-react-and-twitter-oauth/">
      Stateless Rails Api using knock
      </a>
    </li>

    <li>
      <a href="http://andrewmarkle.com/2016/04/06/multitenancy-with-pundit.html">
      multitenancy rails with pundit
      </a>
    </li>

  </ol>
</div>


<div class="redcontainer">
  <h1>Others</h1>

  <ol>
    <li>
      <a href="https://hbr.org/2016/11/the-antidote-to-office-gossip">
        Office Gossip Antidote
      </a>
    </li>

    <li>
      <a href="/docs/testing.pdf">
        Tests - do not write more than necessary. Unit testing is a waste of time.
      </a>
    </li>

    <li>
      <a href="/docs/customers.jpg">
        Customers
      </a>
    </li>

    <li>
      <a href="https://glebbahmutov.com">
        https://glebbahmutov.com
      </a>
    </li>

    <li>
      <a href="https://jwt.io/introduction/">
        JWT</a>
    </li>

    <li>
      <a href="https://glebbahmutov.com/hydrate-vue-todo/">
        hydration</a>
    </li>

    <li>
      <a href="http://www.nuggetsoftruth.com/learn_to_grow_through_adversity.htm">
        grow by advertity</a>
    </li>

    <li>
      <a href="https://bothsidesofthetable.com/understanding-how-dilution-affects-you-at-a-startup-4fb4cd29ad5c#.ykrxorneb">
        Understanding How Dilution Affects You at a Startup</a>
    </li>


    <li>
      <a href="http://stackoverflow.com/questions/4163560/how-can-i-automatically-render-partials-using-markdown-in-rails-3/10131299#10131299">
        Render partial using markdown</a>
    </li>

    <li>
      <a href="http://www.businessinsider.com/how-mobile-location-data-is-collected-2013-7?IR=T&r=US&IR=T">
        How is location data being collected</a>
    </li>


    <li>
      <a href="    https://www.dezyre.com/article/100-data-science-interview-questions-and-answers-general-for-2016/184">
        Data science interview questions</a>
    </li>

    <li>
      <a href="https://twitter.com/jessethanley/status/813904788702183425">How tool is not the reason for failure</a>
    </li>

  </ol>
</div>
