<div class="wrapper">
  <div class="">
    <h1>Quick Info about me</h1>
    <p>My name is Bryan Lim, I'm a small business owner, a programmer and a retired taekwondo black belt and a new tai chi beginner.</p>
    <p>This is my personal blog where I organise my thoughts and write about aspiration. Share about my craft and findings. </p>
    <p>I am the founder of autistic wonders, a non-profit dedicated to raise awareness on autism.</p>
    <p>Before my professional career in technology and programmer, I worked at Macdonald, Hotels because my mother told me to earn my keepings.</p>

    <div class="">
      Join 500+ small business owners in a no-fuss mailing list.
      Ask questions and get answers from the people who had done it.
    </div>

    <div class="">
      Not convinced? Read our mailing list introduction.
    </div>

    <div class="">
      A no-fuss, non-spammable, non-profit, non-commercial list for small
      business owners to ask business questions.

      Questions will be answered by real people who is running a business and feel your pain.

      This list is managed by Bryan Lim & Ariff Munshi.
    </div>

    <div class="">
      This list is strictly for legit business questions.

      No beta invites, no trial tests, no freebies give away.

      You will be banned forever if you post such shit. And Bryan is ruthless in doing so.

      This mailing list is managed by Bryan Lim - the owner of The Amazing Digital Asia.

      This list is governed by the following code of conducts.

      - Be nice and be kind
      - Be clear about what you want to ask. Think before you write.
      - Put something onto the table before taking anything.
      - You will be banned permanently if you violate the code of conduct.
      - Mailing list is by invite only.
      - As this list is meant to be no fuss, please do not spam.
    </div>

    <div class="">
      What can you ask?
      <p>
        Pretty much anything relating to business. This list is
      </p>
    </div>

    <div class="">
      Frequently asked questions

      <p>The main reason why people stay in this list for a long time because
        legit questions are asked. Real people with experience answered them.
        This is absolutely zero tolerance for bullshits.
      </p>


      <p>Can I do an introduction?</p>
      <p>Of course not. Do you think we are kids? Who cares about your introduction?</p>

      <p>Is there a meet up?</p>
      <p>No.</p>

      <p>How do you know the person is who he is?</p>
      <p>This list is by invite only. Hence only people who we know are in real-life, is in the list.</p>

      <p>Who can be in the list?</p>
      <p>Pretty much anyone who is doing business. Regardless of race, language or religion. Tho we speak mainly English.</p>

      <p>I am a researcher or business professor. Can I tap on this mailing list to do a survey?</p>
      <p>No.</p>
    </div>


  </div>
</div>
