<div class="wrapper">
  <div class="">
    <h1>Quick Info about me</h1>
    <p>My name is Bryan Lim, I'm a small business owner, a programmer and a retired taekwondo black belt and a new tai chi beginner.</p>
    <p>This is my personal blog where I organise my thoughts and write about aspiration. Share about my craft and findings. </p>
    <p>I am the founder of autistic wonders, a non-profit dedicated to raise awareness on autism.</p>
    <p>Before my professional career in technology and programmer, I worked at Macdonald, Hotels because my mother told me to earn my keepings.</p>
  </div>
</div>
