<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img class="img-circle" src="http://2.gravatar.com/avatar/67227642f4c9822bc306c8fe6a5f6742?s=100&amp;r=pg&amp;d=mm" width="65" height="65"> <span id="title">{{ site.title }}</span><a href="https://twitter.com/ytbryan" class="twitter-follow-button" data-show-count="true">Follow @ytbryan</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </a>
    <nav class="site-nav">
    </nav>
  </div>
  <div class="wrapper">

    <div>
      From running a small business 🚀, learning programming 👨🏻‍💻 to business analytics 📈
    </div>

    <div>
      You may pick my brain 👉 <a class="underline" href="mailto:bryan@tada.asia">bryan@tada.asia</a>
    </div>
  </div>

</header>
