
<h1>New here? Check out my selected hits:</h1>
<ol>
	<li>★ 2-part Bootstrapping Guide on (The Non-obvious, The Essential and The Myth-busters)</li>
	<li>★ The big difference between One-time big payment and recurring payment</li>
	<li>★ A beginner guide to becoming a better programmer</li>
	<li>★ Why your passion is not your true motivation?</li>


	<h1>Free Advice</h1>
	<!-- Free Advice -->
	<a href="https://twitter.com/ytbryan/status/842987639754043392">Being thankful is the only counter measure towards discontentment.</a>
	<a href="https://twitter.com/ytbryan/status/842987639754043392">Users does not really care if it's native app or web app.
		Users start to care when the app fails to meet their expectation.</a>


</ol>
