<link rel="stylesheet" href="/css/blinking-pointer.css">

<div class="">
  <div class="">
    <a class="underline" href="#">Putting this beside a hyperlink makes sense too.</a>
    <span class="circle-pointer">
      <span class="inner-circle-pointer red-circle"></span>
    </span>
  </div>

  <hr>
  <hr>

  <button type="button" name="button">This is a button
    <span class="circle-pointer">
      <span class="inner-circle-pointer red-circle"></span>
    </span>
  </button>
</div>


<a class="underline" href="http://github.com/ytbryan/blinking-pointer">Read more: http://github.com/ytbryan/blinking-pointer</a>

<a class="underline" href="http://jsfiddle.net/qm0n5uL9/">See Fiddle: http://jsfiddle.net/qm0n5uL9/</a>
